{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="usermenu">
    {{#unauthenticateduser}}
        <span class="login ps-2">
            {{#guest}}
                {{#str}} loggedinasguest, core {{/str}}
                <div class="divider border-start h-75 align-self-center mx-2"></div>
            {{/guest}}
            {{#url}}
                <a href="{{url}}" style="margin-right: 0.5rem;">{{#str}} login, core {{/str}}</a>
            {{/url}}
        </span>
    {{/unauthenticateduser}}
    {{^unauthenticateduser}}
        <div class="dropdown">
            <a href="#" role="button" id="user-menu-toggle" data-bs-toggle="dropdown" aria-label="{{#str}}usermenu{{/str}}"
               aria-haspopup="true" aria-controls="user-action-menu" class="btn dropdown-toggle">
                <span class="userbutton">
                    {{> core/user_menu_metadata }}
                </span>
            </a>
            <div id="user-action-menu" class="dropdown-menu dropdown-menu-end">
                <div id="usermenu-carousel" class="carousel slide" data-touch="false" data-interval="false" data-keyboard="false">
                    <div class="carousel-inner">
                        <div id="carousel-item-main" class="carousel-item active" role="menu" tabindex="-1" aria-label="Usuario">
                            <a id="accessibilitysettings-control" href="#" class="dropdown-item" role="menuitem" tabindex="-1" aria-label="Accesibilidad">
                                Accesibilidad
                            </a>

                            <div class="dropdown-divider"></div>

                            <a href="http://localhost/user/profile.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                Ver Perfil
                            </a>

                            <a href="http://localhost/user/edit.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                Editar Perfil
                            </a>

                            <a href="http://localhost/grade/report/overview/index.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                Calificaciones
                            </a>

                            <a href="http://localhost/calendar/view.php?view=month" class="dropdown-item" role="menuitem" tabindex="-1">
                                Calendario
                            </a>

                            <a href="https://uninavarraeduco-my.sharepoint.com/:b:/g/personal/edisenografico_uninavarra_edu_co/EW7VguExRXZIuiatXv6WEq0BkKY2uu-64DUFOj2VDrKndQ?e=oX4686" class="dropdown-item" role="menuitem" tabindex="-1">
                                Reglamento estudiantil
                            </a>

                            <div class="dropdown-divider"></div>

                            <a href="http://localhost/user/preferences.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                Preferencias
                            </a>

                                                        <a href="http://localhost/course/switchrole.php?id=1&amp;switchrole=-1&amp;returnurl=%2Fmy%2Fcourses.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                                            Cambiar rol a...
                                                        </a>

                            <div class="dropdown-divider"></div>

                            <a href="http://localhost/login/logout.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                Cerrar sesión
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/unauthenticateduser}}
</div>
{{#js}}
    require(['core/usermenu', 'theme_moove/accessibilitysettings'], function(UserMenu, AccessibilitySettings) {
        UserMenu.init();

        AccessibilitySettings.init();
    });
{{/js}}
